@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding: 0;
}

:root{
    --cor-SDS: #20367F;
    --font-text: 'Montserrat', sans-serif;;
}

header > #SDS{
    display: flex;
    justify-content: center;
    background-color: white;
    color: var(--cor-SDS);
    height: 130px;
    font: normal 1.2em 'Ubuntu', Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0px 2px 10px rgba(0, 0, 0, 0.459);
}

#imagem-logo-SDS{
    max-width:200px;
}
header > #canil{
    background-color: var(--cor-SDS);
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top:20px;
    box-shadow: inset 0px 5px 20px rgba(0, 0, 0, 0.427);
}

header .brasao-canil{
    width: 130px;
}
#canil h2{
    font: bolder 2em Arial, Helvetica, sans-serif;
}
#nome h3{
    font: bolder 0.95em Arial, Helvetica, sans-serif;
    padding:10px;
}
#nome{
    text-align: center;
}

nav{
    background-color: #20367fdf;
    padding:10px;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.212);
}
nav > a{
    text-decoration: none;
    color:aliceblue;
    padding:10px;
    font: bold 0.9em 'ubuntu', Arial, Sans-serif;
}

nav > a:hover, #atual{
    color: var(--cor-SDS);
    background:#668aff;
    border-radius:10px 10px 0 0;
    font: bold 1em 'ubuntu', Arial, sans-serif;
    transition-duration: 0.5s;
}

main{
    max-width: 800px;
    min-width: 320px;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.244), -2px -2px 10px rgba(0, 0, 0, 0.244);
    font: normal 1em var(--font-text);
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.075);
    border-radius: 0 0 10px 10px;
}
main .latin{
    font: italic 1em var(--font-text);
}
main .conteudo{
    padding:20px;
}
main a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
main .video{
    display: flex;
    justify-content: center;
    background-color: #20367F;
    padding: 30px;
    margin-top: 20px;
}

main a:hover{
    color:#20367F;
    text-decoration: underline;
}
main p{
    margin-top: 20px;
    text-indent: 30px;
    text-align: justify;
}
main h2{
    margin: 40px 0px 40px 0px;
    padding: 5px;
}
.quadro h2{
    margin: 0;
    background-color: rgba(0, 168, 90, 0.664);
    color: white;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-style: italic;
}
aside .quadro{
    background-color:rgba(32, 54, 127, 0.721);
    color:white;
    width: 500px;
    border-radius: 20px;
}
aside{
    display: flex;
    justify-content: center;
}
aside p{
    padding: 10px 10px 10px 20px;
    margin: 0px;
}

main h3{
    margin: 40px 0px 40px 0px;
    padding: 5px;
    font-size: 0.9em;
}
main h1{
    margin: 40px 0px 40px 0px;
    font-size: 2em;
    color: black;
    border-radius: 5px;
    padding: 5px;
    font-weight: bolder;
}
main .imagem-historia{
    display: flex;
    justify-content: center;
}
main figure{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:20px;
    text-align: center;
    width:30vw;
}
main img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.47);
    width: 80vw;
    max-width:320px;
}

main figcaption{
    margin-top: 10px;
}
main .endereco{
    font-style: italic;
}
.icone{
    box-shadow: none;
}
.container{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    
}
#insta{
    padding: 15px;
}
#email-text{
    padding-left: 5px;
}
#instagram-text{
    padding-top: 5px;
}
#mail{
    width:20px;
}

#instagram{
    width:30px;
    
}

.background{
    background-image: url("imagens/background2.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width:auto;
    height: 50vh;
}
.lista{
    padding-left:50px;
}
footer > #rodape{
    display: flex;
    padding:10px;
    justify-content: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.82);
    color: rgb(0, 0, 0);
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.279);
}
footer > #assinatura{
    display: flex;
    background-color: #20367F;
    color:white;
    justify-content: center;
    padding: 10px;
}

footer img{
    width: 100px;
}

.linha{
    background-color: #FFF212;
    height: 3px;
}